
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');


body{
background-image:url(../images/logo.jpg);
filter: sepia(20%);
background-size: cover;
background-attachment: fixed;
background-repeat: no-repeat;
background-size: cover;
}


/* navbar start */
#navbar{
    display: flex;
    list-style: none;
    justify-content: space-around;
    background: linear-gradient(45deg,purple, pink);
}

#navbar p{
    color: white;
    font-size: 30px;
    font-family: 'Shadows Into Light', cursive;
    margin-top: 30px;
}

.logo-transparent{
    width: 100px;
}
/* navbar finish */

/* Home page start */

#carousel{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
width: 75%;
filter: hue-rotate(240deg) url('#purple-warm');
}


#welcomeintro{
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: linear-gradient(45deg,purple, pink);

}

#welcomemessage{
    display: flex;
    text-align: center;
    width: 100%;
    background-color: linear-gradient(45deg,purple, pink);
    font-family: 'Shadows Into Light', cursive;
    font-size: 28px;


}

#startbutton{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
background:linear-gradient(45deg,blue,pink);
width: fit-content;
padding: 10px;
border-color: black;
border:2px;
border-style: solid;
width: 200px;
font-family: 'Shadows Into Light', cursive;
color: white;
font-weight: bold;
border-radius: 5%;
}

#startbutton a{
    color: white;
    font-size: larger;
}

#hardbreak{
    width: 80%;
    font-weight: bold;
    height: 10px;
    border-width: 3px black;
}


#homepics{
    width: 30%;
    -webkit-box-shadow:  3px 5px 6px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow:     3px 5px 6px #ccc;  /* Firefox 3.5 - 3.6 */
    box-shadow:          3px 5px 6px #ccc;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}
#babypic1{
    width: 30%;
}
#rowone{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    font-family: 'Shadows Into Light', cursive;
    font-size: 28px;


}
#rowtwo{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    font-family: 'Shadows Into Light', cursive;
    font-size: 28px;


}
#rowthree{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    font-family: 'Shadows Into Light', cursive;
    font-size: 28px;

    
}

#homeblog{
    display: flex;
    background: linear-gradient(115deg,pink, purple, salmon);
    justify-content: space-around;
    padding: 20px;
}

#homeblogbutton{
    border: purple;
    padding: 10px;
    border-style: solid;
    border-width: 10px;
    font-size: 24px;
}
/* Home page finish */


/* About page start */
#about{
    padding: 10%;
    width: 60%;
    display: inline;
    align-items: center;
    justify-content: center;
}

#about img{
    width: 75%;
    border-radius: 5%;
    -webkit-box-shadow:  3px 5px 6px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow:     3px 5px 6px #ccc;  /* Firefox 3.5 - 3.6 */
    box-shadow:          3px 5px 6px #ccc;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}

#about p{
    display: flex;
  padding: 50px;
    text-align: center;

}

#about a{
    font-size: 40px;
color:purple;
text-shadow: 2px 2px pink;
}

/* About page finish */

/* Services Page start */
#services{
    display: inline;
    padding: 5
    0px;
    justify-content: center;
    align-items: center;
}

#services img{
    width: 70%;
    border-radius: 5%;
    -webkit-box-shadow:  3px 5px 6px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow:     3px 5px 6px #ccc;  /* Firefox 3.5 - 3.6 */
    box-shadow:          3px 5px 6px #ccc;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}

#services ul{
    display: inline;
    justify-content: space-between;
list-style: none;

}

#services li{
    padding: 20px;
    color: white;
    text-shadow: 1px 1px black;
}

#services li:hover{
    transform: scale(1.1);
    transition: ease 0.5s;
    color: gold;
}

#servicelist{
    display: inline-block;
  margin-left: 0;
  margin-right: 0;
    width: 50%;
    background: linear-gradient(45deg,blue,pink);
    border-radius: 5%;
}
/* Servicds Page finish */

/* Contact Page start */
#form{
    padding: 100px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#babysmile{
    width: 30%;
    border-radius: 5%;
}

#contactform{
    padding: 10px;
    background: linear-gradient(pink
    ,lavender);
    border-radius: 5%;
    -webkit-box-shadow:  3px 5px 6px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow:     3px 5px 6px #ccc;  /* Firefox 3.5 - 3.6 */
    box-shadow:          3px 5px 6px #ccc;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
    
}
/* contact Page finish */