
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Vidaloka&display=swap');

body{
background-color:gray;
filter: sepia(20%);
background-size: cover;
background-attachment: fixed;
background-repeat: no-repeat;
background-size: cover;
}


/* navbar start */
#navbar{
    display: flex;
    list-style: none;
    justify-content: space-around;
    background: linear-gradient(45deg,lightblue,pink);
}

#navbar p{
    color: #800020;
    font-size: 30px;
    font-family: 'Vidaloka', serif;
    margin-top: 30px;
    text-decoration:none;
    text-shadow: 1px 1px black;
}

.logo-transparent{
    width: 200px;
}

#navbar li{
    position: relative;
    top: 90px;
}
/* navbar finish */

/* Home page start */

#carousel{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
width: 75%;
filter: hue-rotate(240deg) url('#purple-warm');
}


#welcomeintro{
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: linear-gradient(45deg,purple, pink);

}

#welcomemessage{
    display: flex;
    text-align: center;
    width: 100%;
    background-color: linear-gradient(45deg,purple, pink);
    font-family: 'Shadows Into Light', cursive;
    font-size: 28px;


}

#startbutton{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
background:linear-gradient(45deg,blue,pink);
width: fit-content;
padding: 10px;
border-color: black;
border:2px;
border-style: solid;
width: 200px;
font-family: 'Shadows Into Light', cursive;
color: white;
font-weight: bold;
border-radius: 5%;
}

#startbutton a{
    color: white;
    font-size: larger;
}

#hardbreak{
    width: 80%;
    font-weight: bold;
    height: 10px;
    border-width: 3px black;
}

#homemain{
    width: 50%;
    display: inline;
    padding: 10px;

}
#homemain p{
width: 50%;
display: flex;
margin-left: auto;
margin-right: auto;
}
#homepics{
    width: 30%;
    -webkit-box-shadow:  3px 5px 6px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow:     3px 5px 6px #ccc;  /* Firefox 3.5 - 3.6 */
    box-shadow:          3px 5px 6px #ccc;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}
#babypic1{
    width: 30%;
}
#rowone{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    font-family: 'Shadows Into Light', cursive;
    font-size: 28px;
}
#lexi{
width: 40%;
border-radius: 5%;
-webkit-box-shadow:  3px 5px 6px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
-moz-box-shadow:     3px 5px 6px #ccc;  /* Firefox 3.5 - 3.6 */
box-shadow:          3px 5px 6px #ccc;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}

#rowtwo{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    font-family: 'Shadows Into Light', cursive;
    font-size: 28px;


}
#rowthree{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    font-family: 'Shadows Into Light', cursive;
    font-size: 28px;

    
}

#homeblog{
    display: flex;
    background: linear-gradient(70deg,lightblue,pink);
    justify-content: space-around;
    padding: 20px;
}

#homeblogbutton{
    border: purple;
    padding: 10px;
    border-style: solid;
    border-width: 10px;
    font-size: 24px;
}
/* Home page finish */


/* About page start */
#about{
    padding: 10%;
    width: 60%;
    display: inline;
    align-items: center;
    justify-content: center;
}

#about img{
    width: 25%;
    border-radius: 5%;
    -webkit-box-shadow:  3px 5px 6px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow:     3px 5px 6px #ccc;  /* Firefox 3.5 - 3.6 */
    box-shadow:          3px 5px 6px #ccc;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}

#about p{
    display: inline-block;
  padding: 50px;
    text-align: left;

}

#about a{
    font-size: 40px;
color:white;
text-shadow: 2px 2px black;
}

#about h4{
    text-align: left;
    display: inline-block;
    padding: 50px;
}

#aboutmain{
    display: flex;
justify-content: center;}

#abouttext{
    width: 50%;
}
#abouttext h1{
    font-weight: bold;
    font-style: italic;
}

#chat{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    border: solid 5px pink;
    width: fit-content;
    border-radius: 7%;
    background: linear-gradient(45deg,lightblue,pink);

}

#chat:hover{
    background-color: pink;
    
}
/* About page finish */

/* Services Page start */
#services{
    display: inline;
    padding:30px;
    border: 100px;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 1000px;
}

#services h1{
    font-family: 'Dancing Script', cursive;
}

#services img{
    width: 70%;
    border-radius: 5%;
    -webkit-box-shadow:  3px 5px 6px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow:     3px 5px 6px #ccc;  /* Firefox 3.5 - 3.6 */
    box-shadow:          3px 5px 6px #ccc;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}

#services ul{
    display: inline;
    justify-content: space-between;
    list-style: none;
    
}

#services li{
    padding: 20px;
    color: black;
    text-shadow: 1px 1px gray;
}

#services li:hover{
    transform: scale(1.1);
    transition: ease 0.5s;
    color: gold;
}

#servicelist{
    display: inline-block;
    margin-left: 0;
    margin-right: 0;
    width: 50%;
    background: linear-gradient(45deg,blue,pink);
    border-radius: 5%;
}

#servicesnav{
    font-family: 'Vidaloka', serif;
    background: linear-gradient(45deg, pink, dodgerblue);
}

#servicesnav ul{
    display: flex;

}

#servicesnav ul li{
    color: black;
    font-size: larger;
}

#servicerows{
    padding: 80px;
}

#testbutton{
    position: fixed;
    top: 500px;
    right: 40px;
    border: 3px solid black;
    z-index:999;
    cursor: pointer;
}

#servicesection{
    display: inline;
    padding: 10px;
    
}

#servicesection h1{
    background-color: plum;
}

#servicetitle{
    display: inline;
    justify-content: center;
    align-items: center;
    background-color: plum;
border: 10px;
}

#servicetitle img{
    width: 70%;
}
#servicedescription{
display: flex;
align-items: center;
justify-content: left;
text-align: left;
background-color: plum;

}

#servicedescription h4{
    font-size: 22px;
    padding: 20px;
    position: relative;
    right: 30px;
}

#servicesubsection{
    display: flex;
    height: 500px;
    background-color: plum;
}


#servicebuttonbox{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: slategray;
    height: 500px;
    padding: 80px;
    position: relative;
    top: 25px;
}

#servicebutton{
    background-color: black;
    border-radius: 5%;
    color: white;
    box-shadow: 5px 5px purple;
}

#servicebutton a{
    color: white;
}

#servicescontainer{
background: linear-gradient(45deg,lightblue,pink);
width: 70%;
/* display: flex; */
justify-content: center;
margin-left: auto;
margin-right: auto;
height: fit-content;
padding: 15px;
}

#servicescontainer img{
    width: 350px;
}

#servicescontainer p{
    width: 50%;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}

#dropdowndiv{
    background: linear-gradient(45deg,pink,lightblue);
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: fit-content;
}

#dropdowndivp{
    width: 60%;
    margin-left: left;
    margin-right: auto;
    width: fit-content;
}

#servicetabs{
    height: 1800px;
    justify-content: space-evenly;
}


/* Servicds Page finish */

/* Contact Page start */
#form{
    padding: 100px;
    width: 100%;
    display: flex;
margin-right: auto;
height: fit-content;
}

#babysmile{
    position: relative;
    bottom: 700px;
    right:300px;
    width: 20%;
    border-radius: 5%;
    display: flex;
    margin-left: auto;
    justify-content: space-around;
}

#contactpics{
    display: inline-block;
    justify-content: space-around;
    align-items: center;
}
#contactform{
    width: 500px;
    padding: 10px;
    background: linear-gradient(45deg,lightblue,pink);

    border-radius: 5%;
    -webkit-box-shadow:  3px 5px 6px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow:     3px 5px 6px #ccc;  /* Firefox 3.5 - 3.6 */
    box-shadow:          3px 5px 6px #ccc;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
    
}
/* contact Page finish */

#coming h1{

}

#coming{
    margin-left: 0;
}
#test{
    display: flex;
    justify-content: center;
    color: white;
    font-size: 78px;
    text-shadow: 2px 2px black;
    align-items: center;
    height:700px;
    background-size: cover;
    background: linear-gradient(45deg,lightblue,pink);
    width:50%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5%;
    -webkit-box-shadow:  3px 5px 6px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow:     3px 5px 6px #ccc;  /* Firefox 3.5 - 3.6 */
    box-shadow:          3px 5px 6px #ccc;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}